/* ===============================
   BASE BUTTON
=================================*/

button{
    border:none;
    outline:none;
    cursor:pointer;
    font-family:inherit;
    transition:.25s ease;
}

/* ===============================
   PRIMARY
=================================*/

.primary-btn,
.hero-btn,
.save-premium-btn{

    display:inline-flex;
    align-items:center;
    justify-content:center;
    gap:10px;

    padding:14px 24px;

    border-radius:14px;

    background:linear-gradient(135deg,#5b4cf6,#7c3aed);

    color:#fff;

    font-size:15px;

    font-weight:600;

    box-shadow:0 10px 25px rgba(92,76,246,.25);

}

.primary-btn:hover,
.hero-btn:hover,
.save-premium-btn:hover{

    transform:translateY(-3px);

    box-shadow:0 18px 35px rgba(92,76,246,.35);

}

/* ===============================
   SECONDARY
=================================*/

.secondary-btn,
.back-btn{

    display:inline-flex;
    align-items:center;
    justify-content:center;
    gap:8px;

    padding:13px 22px;

    border-radius:14px;

    background:#fff;

    border:1px solid #dbe4f2;

    color:#334155;

    font-weight:600;

}

.secondary-btn:hover,
.back-btn:hover{

    background:#f8fafc;

    transform:translateY(-2px);

}

/* ===============================
   DANGER
=================================*/

.danger-btn{

    display:inline-flex;
    align-items:center;
    justify-content:center;
    gap:8px;

    padding:14px 22px;

    border-radius:14px;

    background:#ef4444;

    color:white;

    font-weight:600;

}

.danger-btn:hover{

    background:#dc2626;

    transform:translateY(-3px);

}

/* ===============================
   TOP ACTION BUTTON
=================================*/

.top-action-btn{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:10px;

    width:220px;

    height:62px;

    border-radius:18px;

    background:linear-gradient(135deg,#5b4cf6,#7c3aed);

    color:white;

    font-weight:700;

    box-shadow:0 18px 40px rgba(91,76,246,.28);

}

.top-action-btn:hover{

    transform:translateY(-4px);

}